<footer class="font-sans tracking-wide bg-gray-50 px-10 pt-12 pb-6">
    <div class="flex flex-wrap justify-between gap-10">
      <!-- Logo and Description Section -->
      <div class="max-w-md">
        <a href="#">
          <h1 class="font-bold font-mono text-3xl">
            B<span class="text-green-500">OO</span>K<span class="text-red-500">F</span>LOW
          </h1>
        </a>
        <div class="mt-6">
          <p class="text-gray-600 leading-relaxed text-sm">
            BookFlow is a comprehensive Business Management System tailored to streamline operations and improve efficiency. From managing Finnance to optimizing account, BookFlow empowers businesses with tools to stay organized and productive.
          </p>
        </div>
        <ul class="mt-10 flex space-x-5">
          <li>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="fill-blue-600 w-8 h-8" viewBox="0 0 49.652 49.652">
                <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 112.196 112.196">
                <circle cx="56.098" cy="56.097" r="56.098" fill="#007ab9"/>
                <path fill="#fff" d="M89.616 60.611v23.128H76.207V62.161c0-5.418-1.936-9.118-6.791-9.118-3.705 0-5.906 2.491-6.878 4.903-.353.862-.444 2.059-.444 3.268v22.524h-13.41s.18-36.546 0-40.329h13.411v5.715c-.027.045-.065.089-.089.132h.089v-.132c1.782-2.742 4.96-6.662 12.085-6.662 8.822 0 15.436 5.764 15.436 18.149z"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" viewBox="0 0 1227 1227">
                <path d="M613.5 0C274.685 0 0 274.685 0 613.5S274.685 1227 613.5 1227 1227 952.315 1227 613.5 952.315 0 613.5 0z"/>
                <path fill="#fff" d="m680.617 557.98 262.632-305.288h-62.235L652.97 517.77 470.833 252.692H260.759l275.427 400.844-275.427 320.142h62.239l240.82-279.931 192.35 279.931h210.074L680.601 557.98zM345.423 299.545h95.595l440.024 629.411h-95.595z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
        <div class="min-w-[140px]">
        <h4 class="text-gray-800 font-semibold text-base">Services</h4>
        <ul class="mt-6 space-y-4">
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Web Development</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Pricing</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Support</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Client Portal</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Resources</a></li>
        </ul>
      </div>
  
      <!-- Developer Section -->
      <div class="min-w-[140px]">
        <h4 class="text-gray-800 font-semibold text-base">Developer</h4>
        <ul class="space-y-4 mt-6">
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Github</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Portfolio</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Marketing Glossar</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Notice</a></li>
        </ul>
      </div>
  
      <!-- Company Section -->
      <div class="min-w-[140px]">
        <h4 class="text-gray-800 font-semibold text-base">Company</h4>
        <ul class="space-y-4 mt-6">
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">About us</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Careers</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Blog</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Events</a></li>
        </ul>
      </div>
  
      <!-- Additional Section -->
      <div class="min-w-[140px]">
        <h4 class="text-gray-800 font-semibold text-base">Additional</h4>
        <ul class="space-y-4 mt-6">
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">FAQ</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Partners</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Sitemap</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Contact</a></li>
          <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">News</a></li>
        </ul>
      </div>
    </div>
  
    <hr class="mt-10 mb-6 border-gray-300" />
  
    <div class="flex flex-wrap max-md:flex-col gap-4">
      <ul class="md:flex md:space-x-6 max-md:space-y-2">
        <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Terms of Service</a></li>
        <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Privacy Policy</a></li>
        <li><a href="#" class="hover:text-gray-800 text-gray-600 text-sm">Security</a></li>
      </ul>
  
      <p class="text-gray-600 text-sm md:ml-auto">© BookFlow. All rights reserved.</p>
    </div>
  </footer>
  