<!-- <p>resetcomponent works!</p>
<form class="sm:p-8 p-4 w-full" [formGroup]="companyLoginform">
    <div class="mb-12">
        <h3 class="text-blue-500 text-3xl font-extrabold max-md:text-center">Login</h3>
    </div>

    <div class="space-y-6">
        <div>
            <label class="text-gray-800 text-sm mb-2 block">Account name</label>
            <input name="email" type="text" formControlName="user_name" 
                   class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3 rounded-md outline-blue-500" 
                   placeholder="Enter your Account" />
            <div>
                @if (validationError && companyLoginform.controls['user_name'].errors?.['required']) {
                    <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #ff0000;"></i>
                    <span class="text-red-900 text-sm">Account Is Required</span>
                }
            
            </div>
        </div>

        <div>
            <label class="text-gray-800 text-sm mb-2 block">Password</label>
            <input name="password" type="password" formControlName="user_password" 
                   class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3 rounded-md outline-blue-500" 
                   placeholder="Enter Account password" />

        
            <div>
                @if (validationError &&  companyLoginform.controls['user_password'].errors?.['required']) {
                    <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #ff0000;"></i>
                    <span class="text-red-900 text-sm">Password Is Required</span>
                }
                
            </div>
        </div>

        <div class="flex items-center justify-between">
            <div class="text-center mt-4">
                @if (tokenTriger) {
                    <button type="button" 
                    class="text-sm text-blue-600 hover:underline focus:outline-none" 
                    >
                        Send Verification Link
                    </button>
                }
               
            </div>
            <a href="#" class="text-sm text-blue-600 hover:underline">Forgot Password?</a>
        </div>

        
        <div class="text-center mt-4">
            <span class="text-gray-600 text-sm">Don't have an account?</span>
            <a href="/register" class="text-blue-600 hover:underline text-sm ml-1">Sign up</a>
        </div>
    </div>
    
    <div class="mt-6 text-center">

        @if (isLoading) {
          <div class="loading-overlay">
            
            <mat-spinner diameter="50"></mat-spinner>
          </div>
          
        }
       
          <button type="button" class="py-3  px-6 text-sm tracking-wide font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none transition-all" (click)="onLogin()">
            Login
        </button>
        
      </div>
</form> -->