@import "@fortawesome/fontawesome-free/css/all.css";

/* Tailwind directives should follow imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --primary-color: #1a1a1a;
    --text-color: #ffffff;
    --hover-color: #2c2c2c;
    --active-color: #a59d9d;
    --border-color: #2d2d2d;
  }