<div class="flex flex-col justify-center items-center font-[sans-serif] bg-gradient-to-r from-green-800 to-green-500 min-h-screen p-6">
    <div class="grid md:grid-cols-2 items-center gap-y-8 bg-white max-w-5xl w-full shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md overflow-hidden">
        <!-- Left side with gradient background -->
        <div class="flex flex-col justify-center sm:p-8 p-4 bg-gradient-to-r from-green-600 to-green-700 w-full h-full">
            <div class="max-w-md space-y-12 mx-auto">
                <div>
                    <h4 class="text-white text-lg font-semibold">Reset Password</h4>
                    <p class="text-[13px] text-white mt-2">Enter your account name to receive password reset instructions.</p>
                </div>
                <div>
                    <h4 class="text-white text-lg font-semibold">Secure Process</h4>
                    <p class="text-[13px] text-white mt-2">Your security is our priority. We ensure a safe and protected password reset process.</p>
                </div>
                <div>
                    <h4 class="text-white text-lg font-semibold">Need Help?</h4>
                    <p class="text-[13px] text-white mt-2">Having trouble with the password reset? Our support team is here to help.</p>
                </div>
            </div>
        </div>

        <!-- Right side with form -->
        <form class="sm:p-8 p-4 w-full" [formGroup]="resetForm">
            <div class="mb-12">
                <h3 class="text-blue-500 text-3xl font-extrabold max-md:text-center"> Forgot Password</h3>
            </div>

            <div class="space-y-6">
                <div class="password-field">
                    <label class="text-gray-800 text-sm mb-2 block">Password</label>
                    <div class="relative flex items-center"> <!-- Added wrapper div -->
                        <input type="password"
                            formControlName="newPassword"
                            class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3 rounded-md outline-blue-500"
                            placeholder="Enter your Account"
                            [type]="showPassword ? 'text' : 'password'"
                        />
                        <button
                            type="button"
                            class="toggle-password absolute right-3"
                            (click)="toggleShowPassword()"
                        >
                            <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'" id="togglePasswordIcon"></i>
                        </button>
                    </div>
                    <div>
                        @if (resetForm.controls['newPassword'].errors?.['required'] && resetForm.controls['newPassword'].touched) {
                            <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #ff0000;"></i>
                            <span class="text-red-900 text-sm">Account Is Required</span>
                        }
                        @else if (resetForm.controls['newPassword'].errors?.['minlength'] && resetForm.controls['newPassword'].touched) {
                            <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #ff0000;"></i>
                            <span class="text-red-900 text-sm">Password must be min 8 Charactor long</span>
                        }
                    </div>
                </div>
                <div class="password-field">
                    <label class="text-gray-800 text-sm mb-2 block">Confirm Password</label>
                    <div class="relative flex items-center">
                        <input 
                            type="password" 
                            formControlName="conformPassword" 
                            class="bg-gray-100 w-full text-gray-800 text-sm px-4 py-3 rounded-md outline-blue-500" 
                            placeholder="Enter your Account"
                            [type]="showConfirmPassword ? 'text' : 'password'"
                        />
                        <button
                            type="button"
                            class="toggle-password absolute right-3"
                            (click)="toggleShowConfirmPassword()"
                        >
                        <i [class]="showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'" id="togglePasswordIcon"></i>

                    </button>
                    </div>
                    <div>
                        @if (resetForm.controls['conformPassword'].errors?.['required'] && resetForm.controls['conformPassword'].touched) {
                            <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #ff0000;"></i>
                            <span class="text-red-900 text-sm">Account Is Required</span>
                        }
                        @else if (resetForm.errors?.['passwordMatch'] && resetForm.controls['conformPassword'].touched) {
                            <i class="fa-solid fa-triangle-exclamation fa-lg" style="color: #ff0000;"></i>
                            <span class="text-red-900 text-sm">Password not matched</span>
                        }
                    </div>
                </div>

                <div class="flex items-center justify-end">
                    
                    <a routerLink="/login" class="text-sm text-blue-600 hover:underline"> Login to Account?</a>
                </div>

                <div class="mt-6 text-center">

                    @if (isLoading) {
                        <div class="loading-overlay">
                          
                          <mat-spinner diameter="50"></mat-spinner>
                        </div>
                        
                      }
    
                    @if (resetForm.errors?.['passwordMatch'] || resetForm.controls['conformPassword'].errors?.['required'] ) {
                        <button type="button"  class="py-3 px-6 text-sm tracking-wide font-semibold rounded-md text-white bg-blue-400 hover:cursor-not-allowed focus:outline-none transition-all">
                            Reset Password
                        </button>

                    } 
                    @else {
                        <button type="button" (click)="resetPassword()" class="py-3 px-6 text-sm tracking-wide font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none transition-all">
                            Reset Password
                        </button>
                    }
                 
                </div>



                

                <div class="text-center mt-4">
                    <span class="text-gray-600 text-sm">Don't have an account?</span>
                    <a routerLink="/register" class="text-blue-600 hover:underline text-sm ml-1">Sign up</a>
                </div>
            </div>
            
            <div class="mt-6 text-center">

                <!-- @if (isLoading) {
                    <div class="loading-overlay">
                      
                      <mat-spinner diameter="50"></mat-spinner>
                    </div>
                    
                  } -->

                <!-- <button type="button" (click)="sendForgotLink()" class="py-3 px-6 text-sm tracking-wide font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none transition-all">
                    Send Reset Link
                </button> -->
            </div>

            

        </form>
    </div>
</div>